
#nav-bar {
  position: fixed;
  top: 0;
  height: 80px;
  color: #e8fdff;
  background: #00a087;
  width: 100%;
  padding: 0 2em;
  z-index: 1;
}

#nav-bar .logo {
  float: left;
  width: 80px;
  height: 80px;
}

#nav-bar .header {
  float: left;
  padding: 0 10px;
  line-height: 80px;
  font-size: 2em;
}

#nav-bar button {
  float: right;
  background-color: white;
  border-radius: 7px;
  border: 1px solid black;
  color: #00a087;
  padding: 18px 14px;
  font-size: 20px;
  opacity: 0.8;
  margin: 9px auto;
}
#nav-bar button:hover {
  color: black;
  opacity: 1;
}